<h3>Корзина</h3>
<p>
  <a routerLink="/shipping">Цены доставки</a>
</p>
<div class="cart-items" *ngIf="items.length; else emptyCart">
  <div class="cart-item" *ngFor="let item of items; let i = index">
    <div>{{ item.product.name }}</div>
    <div>{{ getPrice(item.product.price) }}</div>
    <div>{{ item.quantity }}</div>
    <div>{{ getSum(item) }}</div>
    <button (click)="deleteItem(i)">X</button>
  </div>
</div>
<ng-template #emptyCart>
  <div class="cart-empty">
    Ваша корзина пуста
  </div>
</ng-template>

