<h2>Информация о товаре</h2>
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency :"RUB":"symbol-narrow": '0.0'}}</h4>
  <p *ngIf="product.description">{{ product.description }}</p>
  <button (click)="addToCart(product)">Добавить в корзину</button>
</div>
