<h3>
  <a [title]="product.name + ' подробности'" [routerLink]="['/products', product.id]">
    {{ product.name }}
  </a>
</h3>
<p *ngIf="product.description">
  Описание: {{ product.description }}
</p>
<button pButton (click)="share()">Поделиться</button>
<app-product-alerts (notify)="showAlertOnNotify()" [product]="product"></app-product-alerts>
