// Import library functions for theme creation.
@import '~@angular/material/theming';

@mixin app-top-bar-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);

  // Define any styles affected by the theme.
  // Use mat-color to extract individual colors from a palette.

  .app-top-bar {
    .sc-home-link {
      svg {
        height: 100%;
        width: auto;
        fill: mat-color($primary, A700)
      }
    }

    .sc-home-link:hover {
      svg {
        fill: mat-color($primary, A700-contrast);
        stroke:  mat-color($primary, A700);
      }
    }
  }
}

@mixin app-top-bar-typography($config-or-theme) {
  // Extract the typography configuration in case a theme has been passed.
  $config: mat-get-typography-config($config-or-theme);

  .app-top-bar {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}

@mixin app-top-bar-theme($theme) {
  // Extracts the color and typography configurations from the theme.
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  // Do not generate styles if configurations for individual theming
  // systems have been explicitly set to `null`.
  @if $color != null {
    @include app-top-bar-color($color);
  }
  @if $typography != null {
    @include app-top-bar-typography($typography);
  }
}
