:host ::ng-deep .app-top-bar.p-menubar {
  flex-flow: row wrap;
}

@media only screen and (max-width: 960px) {
  :host ::ng-deep .app-top-bar.p-menubar {
    .p-menubar-button {
      order: 1;
    }

    .p-menubar-start {
      order: 2;
    }

    .p-menubar-end {
      order: 3;
    }
  }
}

.sc-home-link {
  display: inline-block;
  text-decoration: none;
  height: 3rem;
}

// @todo https://material.angular.io/guide/theming-your-components
.sc-home-link {
  svg {
    height: 100%;
    width: auto;
    //fill: blue;
  }
}

.sc-home-link:hover {
  svg {
    //fill: white;
    //stroke: blue;
    stroke-width: 2
  }
}

.sc-home-link h1 {
  margin: 0;
}

.sc-cart-link {
  display: inline-block;
}

.sc-cart-link__icon {
  font-size: 1.5rem;
  vertical-align: middle;
}
