<p-menubar styleClass="app-top-bar" [model]="items">
  <ng-template pTemplate="start">
    <a class="sc-home-link" [routerLink]="['/']" rel="home" [innerHTML]="logo">
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input class="p-inputtext-sm" pInputText type="text" placeholder="поиск">
    </div>
    <a class="sc-cart-link p-m-2" routerLink="/cart"><i class="pi pi-shopping-cart sc-cart-link__icon"></i></a>
  </ng-template>
</p-menubar>
